:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --buttons-and-links: #BD3A5A;
    --banner-text-color: #F8FAFC;
    --banner-background-color: #005A8F;
    --footer-background-color: #002439;
    --button-hover: #84283F;
    --h2: 2.25rem;
    --p: 1.125rem;
    --text-link: 1.375rem;
    --footer-text: 1rem;
    --nav-text: 1.25rem;
}

.inner-container {
    max-width: 1310px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--nav-text);
    margin-left: 1.84rem;
}

a:hover {
    text-decoration: underline;
}

.banner {
    background-color: var(--banner-background-color);
    color: var(--banner-text-color);
}

.banner .flex-container {
    flex-wrap: wrap; 
    gap: 2.24rem;
    flex-direction: column;
}